.menu-button {
    width: 20%;
    height: 80%;
    align-self: center;
    margin: 2%;
    font-size: 130%;
    scale: 1.2
}
.menu-button:hover:enabled {
    scale: 1.5;
    color: var(--game-yellow--);
}
