.menu-button {
    height: 100%;
    width: 33.33%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.tile {
    width: 70px;
    height: 70px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(100, 110, 120);
    border-right-color: rgb(100, 110, 120);
    border-top-color: rgb(100, 110, 120);
    border-bottom-color: rgb(100, 110, 120);
}
