/* modified copy paste from pause-menu */
.menu-button {
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
    border-width: 2px;
    border-color: var(--game-magenta--);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 100%;
}
