.menu-button {
    height: 7%;
    width: 50%;
    align-self: center;
    top: 60%;
    font-size: 300%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 1%;
    margin-bottom: 1%;
}
.menu-button:hover:enabled {
    scale: 1.5;
}